:root {
    --incomes-color: rgb(89, 192, 58);
    --expenses-color: rgb(231, 67, 67);
    --list-background-color: rgb(247, 247, 239);
    --yellow: rgb(240, 199, 21);
}

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 3vh;
}

/*Main budget*/
.budget {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 60vh;
}

.budget_summary {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid var(--yellow);
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    padding: 1rem 0;
    margin: 0 1rem;
    /* background-color: #fcba04; */
    border-radius: 2px;
}

/*Incomes*/
.incomes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 45%;
}

.incomes h2 {
    flex-basis: 100%;
    text-align: center;
}

.income_add {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
}


.income_form {
    flex-basis: 100%;
}

.income_add_desc {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: inherit;
    border-bottom: 3px solid var(--yellow);
    transition: border-color 0.2s;
}

.income_add_value {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: inherit;
    border-bottom: 3px solid var(--yellow);
    transition: border-color 0.5s;

}

.income_form input:focus {
    border-bottom: 3px solid var(--incomes-color);
}

.incomes_list {
    flex-basis: 100%;
    text-align: left;
    margin: 30px 10px;
    background-color: var(--list-background-color);
}

.incomes_list ul {
    display: flex;
}

.income_item {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
}

.incomes .incomes_summary {
    flex-basis: 100%;
}

/*Expenses*/
.expenses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 45%;
}

.expenses h2 {
    flex-basis: 100%;
    text-align: center;
}

.expense_add {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
}


.expense_form {
    flex-basis: 100%;

}

.expenses_list {
    flex-basis: 100%;
    text-align: left;
    margin: 30px 10px;
    background-color: var(--list-background-color);
}

.expense_list ul {
    display: flex;
}

.expense_item {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
}

.expenses .expenses_summary {
    flex-basis: 100%;
}